modules = ["nodejs-22"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Minecraft bot"

[[workflows.workflow]]
name = "Minecraft bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[workflows.workflow.metadata]
outputType = "console"

[deployment]
deploymentTarget = "cloudrun"

[deployment.run]
args = [
  "sh",
  "-c",
  "/nix/store/s97a21afj6aw098a25gs3j7ias7wzanm-nodejs-22.22.0-wrapped/bin/node $file",
]

[deployment.run.env]
file = "index.js"
run = "node index.js"
[[ports]]
localPort = 3000
externalPort = 80